[Desktop Entry]
Categories=Utility;
Comment=Simple tool to read FB2 books on GTK+3
Comment[ru]=Простая читалка на GTK+3 для чтения FB2 книг
Exec=simple-fb2-reader %u
Icon=simple-fb2-reader
Name=Simple FB2 Reader
Type=Application
MimeType=application/x-fictionbook;

