Source: simple-fb2-reader
Section: text
Priority: optional
Maintainer: Cactus <medved_cool@mail.ru>
Build-Depends: debhelper (>= 8.0.0), libxml2-dev (>= 2.8.0), libgtk-3-dev (>= 3.4.2), libglib2.0-dev (>= 2.32.4), libzip-dev (>= 0.10.1), pkg-config (>= 0.26), libc-dev-bin (>= 2.13), gettext (>= 0.18.1.1), binutils (>= 2.22)
Standards-Version: 3.9.3
Homepage: https://github.com/Cactus64k/simple-fb2-reader
#Vcs-Git: git://git.debian.org/collab-maint/simple-fb2-reader.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/simple-fb2-reader.git;a=summary

Package: simple-fb2-reader
Architecture: amd64
Depends: ${shlibs:Depends}
Description: Simple tool to read FB2 books. Developed using GTK+3.
	Features ("-" - not supported yet, "~" - partial support):
	- supports fb2, fb2.zip and txt files
	- color themes(black and white)
	- saving reading position
	- saving window state, size and position
	- search text in book
	- URI
	- full 2.1 format support(-stylesheet, ~table)
	- navigation
